<div class="card">
    <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="">
    <div class="info">
        <div class="card-header">
            {{movie.title}}
        </div>
        <hr>
        <div class="release-date">
            <i class="fa fa-calendar" aria-hidden="true">&nbsp;</i> <strong>{{movie.release_date}}</strong><br>
        </div>
        <div class="card-buttons-group">
            <button class="button add-to-favourites"><i class="fa fa-plus" aria-hidden="true">&nbsp;</i> Favourites</button>
        </div>
    </div>
</div>
