$clr-primary: #0d253f;
$clr-seconday: #01b4e4;
$clr-white: #fff;
$clr-gray: grey;
$clr-page-general-text-color: #8E879D;
$clr-hr-line: rgba(0,0,0,.1);
$clr-seconday-hover: #96f3ff;

.main-container {
    margin: 79px auto;
    line-height: 1.5;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    width: auto;
  }

.button {
    background-color: $clr-gray;
    border-radius: .3rem;
    border: 1px solid transparent;
    color: $clr-white;
    padding: 12px 29px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}

.curved-button {
    border-radius: 2rem;
}

.button:focus {
    outline: 0;
}

.button::-moz-focus-inner {
    border: 0;
}

/* Modal Header */
.header-row {
  color: $clr-page-general-text-color;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $clr-hr-line;
  padding: 7px 0;
  margin-bottom: 1rem;

  .header {
    font-size: 1.25rem;
    font-weight: 200;
  }

  .close {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;

    img {
      width: 30px;
      height: 30px;
      display: inline;
      vertical-align:middle;
    }
  }
}


footer {
    background-color: $clr-white;
    margin-top: auto;

    .moviedb-logo {
      padding: 10px;
      box-shadow: 0 -2px 9px 2px rgba($clr-gray,.5);

      a {
        text-decoration: none;

        img {
          display: block;
          margin: auto;
        }
      }
    }
  }
