<app-navbar></app-navbar>
<div class="main-container">
  <h2>Favorite Movies</h2>
  <div class="cards" *ngIf="movies.length > 0">
    <div *ngFor="let movie of movies; let i = index">
      <app-movie-card [movie]="movie" [movieIsLiked]="checkIfMovieIsLiked(movie.id)" [movieIndex] = "i"></app-movie-card>
    </div>
  </div>

  <div class="no-movies" *ngIf="movies.length === 0">
    <img src="../../../assets/icons/empty-box.jpg" alt="no-movie">
    <h1>Sorry You do not have any favorite movies</h1>
  </div>
</div>
