<app-navbar></app-navbar>
<div class="main-container">
  <div class="background-canvas">
    <div class="card">
      <div class="title">Contact-Us</div>
      <div class="main-section">
        <div class="left-inner">
          <img src="https://cdn3.iconfinder.com/data/icons/flat-pro-user-management-set-4/32/user-profile-512.png" alt="profile-icon">
          <div class="name">Khomotjo Modipa</div>
        </div>
        <div class="right-inner">
          <strong>Get intouch with the developer </strong><i class="fa fa-code" aria-hidden="true"></i><br><br>
          Email: khomotjomodipa4@gmail.com <br>
          Cell Number: 084 064 1091 <br>
          Twitter <i class="fa fa-twitter" aria-hidden="true">&nbsp;</i>: <a href="https://twitter.com/kmodipa4" target="_blank">kmodipa4</a> <br>
          LinkedIn <i class="fa fa-linkedin" aria-hidden="true">&nbsp;</i>: <a href="https://www.linkedin.com/in/khomotjo-modipa-a5ba84b6/" target="_blank">Khomotjo Modipa</a> <br>
          Website <i class="fa fa-external-link" aria-hidden="true">&nbsp;</i>: <a href="https://www.kmodipa.tk/" target="_blank">www.kmodipa.tk</a>
        </div>
      </div>
    </div>
  </div>
</div>

