<jw-modal id="login">
  <div class="header-row">
    <div class="header">
      Login
    </div>
    <button class="close" (click)="modalService.close('login')">
      <img src="../../../../assets/icons/close.svg" alt="">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="loginForm" >
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="userModel.email" formControlName="email">
        <div class="error-messages" *ngIf="email.touched">
          <div *ngIf="email.invalid && email.dirty">Email needs to be something like me@example.com </div>
          <div *ngIf="!email.value">* Email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="userModel.password" formControlName="password">
        <div class="error-messages" *ngIf="password.touched">
          <div *ngIf="password.invalid && password.dirty">Password needs to be at least 6 characters </div>
          <div *ngIf="!password.value">* Password is required</div>
        </div>
      </div>
      <br>
      <button type="submit" class="button" (click)="login()">
        Login
      </button>
    </form>
    <div class="bottom-message">
      Don't have an Account? <a (click)="openRegister()">Create One</a>
    </div>
  </div>
</jw-modal>

<!-- Register Model -->
<app-register></app-register>
